.divider {
  height: 0.125rem;
  margin: 20px 89px 20px 89px;
  border: solid 1px var(--border-color);
}

.main {
  height: 100%;
}

@media (min-width: 768px) {
  .container {
    display: flex;
    gap: 10px;
  }

  .scroll {
    height: auto;
  }
}
