@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900|Ubuntu:400,500,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
  --background-light: #fffbfb;
  --accent-color: #0290ff;
  --accent-color-actions: #4386bf;
  --font: 'RobotoSlab', sans-serif;
  --font-header: 'Montserrat', sans-serif;
  --border-color: #b1b1b1;
  --form-header: rgb(126, 126, 126);
  --white: #fff;
}

body {
  background: var(--white);
  background-color: var(--white);
  font-family: var(--font);
}
